# --- Carpetas Base de Unreal Engine (Temporales) ---
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# --- IMPORTANTE: Carpetas temporales dentro de Plugins ---
# Esto soluciona el warning de VictoryBPLibrary
Plugins/*/Binaries/
Plugins/*/Intermediate/

# --- Archivos de Visual Studio / IDEs ---
.vs/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace

# --- Archivos de Sistema Operativo (Basura) ---
.DS_Store
Thumbs.db

# --- Archivos de compilación y logs ---
*.log
*.tmp
*.ini
*.dat

# --- Archivos de usuario y backups locales ---
*.sav
*.lock
*.db-journal